<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.PageTitle - Identity</title>
        @await RenderSectionAsync("headSection", false)
    </head>
    <body>
        <div id="main">
            @RenderBody()
        </div>
        @await RenderSectionAsync("bodySection", false)
    </body>
</html>